# Add your project dependencies here
pandas
numpy
requests
feedparser
google-play-scraper
python-dotenv

langchain
langchain-community
langchain-text-splitters

chromadb
sentence-transformers

langchain-chroma
langchain-huggingface